html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.panel-body {
    height: 100px;
    line-height: 100px;
    padding-top: 0;
}
div.panel-body span {
    font-size: 30px;
}