
/*站位块儿*/
.zhanwei {
	width: 100%;
	height: 79px;
    background-color: #f5f5f5;
}

/*main花言花语*/
.main {
	width: 100%;
	padding-bottom: 80px;
	background-color: #f5f5f5;
}
/*main标题*/
.main-top {
	width: 100%;
	height: 100px;
	font-size: 35px;
	font-weight: 400;
	color: #F67A82;
	padding: 30px 30px;
	background-color: #f5f5f5;
	text-align: center;
}

/*main下半部正文部分*/
div.main-bottom {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	/*background-color: red;*/
}
/*main左边列表部分*/
.main-left {
	width: 100%;
	background-color: #ffffff;
}
.main-left>ul>li {
	width: 100%;
	height: 190px;
	margin: 24px auto;
	border-bottom: 1px #f5f5f5 solid;
	padding: 0 30px;
	display: flex;
}
.main-left>ul>li>a {
	width: 160px;
	height: 160px;
	background-size: 200%;
    overflow: hidden;
	text-decoration: none;
}
.main-left>ul>li>a>img {
    width: 100%;
    height: 100%;
}
.main-left>ul>li>div {
	padding-left: 50px;
}
.main-left>ul>li>div>a {
	width: 100%;
	height: 20px;
	margin-bottom: 30px;
	color: #2a333c;
	font-size: 22px;
	text-decoration: none;
}
.main-left>ul>li>div>a:hover {
	text-decoration: underline;
	color: #62a8ea;
}
.main-left>ul>li>div>p {
	font-size: 16px;
	color: #76838f;
	font-weight: 300;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.main-left>ul>li>div>p>span {
	margin-right: 8px;
}
/*左边列表底部页码部分*/

nav {
    display: flex;
    justify-content: center;
}

