<?php
    include_once './header.php';
?>
<main>
    <?php
        include_once './slide.php';
    ?>
    <section class="mainRight">
        <table class="table table-bordered table-hover">
            <tr>
                <th>id</th>
                <th>标题</th>
                <th>介绍</th>
                <th>pid</th>
                <th>操作</th>
            </tr>
            <?php for($i = 0; $i < count($res); $i++){ ?>
            <tr>
                <td> <?php echo $res[$i]['id']; ?> </td>
                <td type="title"> <?php echo $res[$i]['title']; ?> </td>
                <td type="des"> <?php echo $res[$i]['des']; ?> </td>
                <td class="btns"> <?php echo $res[$i]['pid']; ?> </td>
                <td>
                    <a href="updatecategory.php?id=<?php echo $res[$i]['id']; ?>" class="btn btn-success btn-sm">修改</a>
                    <a href="delcategory.php?id=<?php echo $res[$i]['id']; ?>" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
            <?php } ?>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg">
                <li>
                    <a href="querycategory.php?pagenum=<?php echo $pagenum == 1? 1: $pagenum - 1; ?>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <?php for($i = 1; $i <= $size;$i++) { ?>
                <li class="<?php echo $pagenum == $i ? 'active': ''; ?>"><a href="querycategory.php?pagenum=<?php echo $i ?>"> <?php echo $i ?> </a></li>
                <?php }; ?>
                <li>
                    <a href="querycategory.php?pagenum=<?php echo $pagenum == $size? $size: $pagenum + 1; ?>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>

</main>
</body>
</html>