<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/category.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <img src="../static/img/header.png" alt="头像" class="img-circle">
            <div class="navbar-brand" href="#">DIY后台管理系统</div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li><button type="button" class="btn navbar-btn btn-info">退出系统</button></li>
            </ul>
        </div>
    </div>
</nav>