<?php
    include_once './header.php';
?>
<main>
    <?php
        include_once './slide.php';
    ?>
    <section class="mainRight">
        <form class="form-horizontal" action="updatecategory.php" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="inputtext3" class="col-sm-2 control-label">分类</label>
                <div class="col-sm-6">
                    <select class="form-control" id="inputtext3" name="pid">
                        <option value="0">一级标题</option>
                        <?php echo $str; ?>
                        <!--<?php for($i=0;$i<count($res);$i++){?>-->
                        <!--<option value="<?php echo $res[$i]['id']?>"> <?php echo $res[$i]['title'] ?> </option>-->
                        <!--<?php } ?>-->
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputtext1" class="col-sm-2 control-label">栏目标题</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control header1" id="inputtext1" placeholder="标题" name="title" value="<?php echo $res['title']; ?>">
                </div>
            </div>
            <div class="form-group">
                <label for="inputtext2" class="col-sm-2 control-label">栏目介绍</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control header2" id="inputtext2" placeholder="介绍" name="des" value="<?php echo $res['des']; ?>">
                </div>
            </div>
            <input type="hidden" name="id" value="<?php echo $id ?>">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info insert">修改</button>
                </div>
            </div>
        </form>
    </section>
</main>
</body>
</html>