<?php include_once 'header.php'; ?>
<link rel="stylesheet" type="text/css" href="../static/css/aboutus.css">
	<!-- banner图 -->
	<div class="img">
        <img src="../static/img/gysx.jpg" alt="">
    </div>
	<!-- 素馨花卉工作室 -->
	<div class="main3">
		<div class="text">
			<h5> <?php echo $aboutus['des']?> </h5>
			<p>经营范围： <?php echo $aboutus['ranger']?> </p>
			<p> <?php echo $aboutus['ranger1']?> </p>
			<p> <?php echo $aboutus['address']?> </p>
			<p> <?php echo $aboutus['phone']?> </p>
		</div>
		<div class="m3bx">
            <img src="../static/img/m3bx.png" alt="我爱DIY">
        </div>
	</div>
<?php include_once 'footer.php'; ?>
