<?php include_once 'header.php'; ?>
<link rel="stylesheet" type="text/css" href="../static/css/comment.css">
<script src="../static/js/comment.js"></script>
	<!-- 站位块儿 -->
	<div class="zhanwei"></div>
	<!-- main留言建议 -->
	<div class="main">
		<!-- main标题 -->
		<div class="main-top">留言建议</div>
		<!-- main下半部正文部分 -->
		<div class="main-bottom">
            <!-- main左边列表部分 -->
            <div class="list">
                <ul class="main-left">

                </ul>
                <!-- 左边列表底部加载更多 -->
                <a href="" class="page">
                    <i class="iconfont icon-icon-test"></i>
                    加载更多
                </a>
            </div>
			<!-- main右边小块儿 -->
            <form id="myform"></form>
			<div class="main-right">
				<input type="text" name="names" placeholder="姓名" class="names" required form="myform">
				<input type="text" name="phone" placeholder="联系电话" required form="myform">
				<textarea cols="40" name="text" rows="4" placeholder="您的建议" required form="myform"></textarea>
				<div class="verify">
					<input type="text" name="" placeholder="验证码">
					<span></span>
				</div>
				<button type="submit">提交</button>
			</div>
		</div>
	</div>
    <?php include_once 'footer.php'; ?>