<!-- footer部分 -->
<div class="footer-top"></div>
<div class="footer">
    <div class="icon">
        <i class="iconfont icon-weixin"></i>
        <i class="iconfont icon-qq"></i>
        <i class="iconfont icon-youxiang"></i>
    </div>
    <div class="ICP">
        <a href="#">豫ICP备17021305号</a>
        <img src="../static/img/footer.png">
        <a href="#">豫公网安备41012202000160</a>
    </div>
    <p>联系电话 0371-62180519 15890062947</p>
    <p>郑州素馨花卉有限公司 版权所有 © 2017-2021</p>
</div>
</body>
</html>