
<?php include 'header.php'; ?>

<link rel="stylesheet" type="text/css" href="../static/css/index1.css">
<script src="../static/js/banner_ani.js"></script>
<script src="../static/js/index.js"></script>

	<!-- banner图 -->
	<div class="banner">
		<div class="banner-img">
			<?php foreach($recommend as $v) {; ?>
			<a href="info.php?id=<?php echo $v['id']; ?>&cid=<?php echo $v['cid']; ?>" class="banner1">
				<img src="<?php echo $v['thumb']; ?>" alt="<?php echo $v['title']; ?>">
			</a>
			<?php }; ?>
		</div>
		<div class="banner-left btn">
			<i class="iconfont icon-zuo"></i>
		</div>
		<div class="banner-right btn">
			<i class="iconfont icon-you"></i>
		</div>
		<div class="banner-dian">
			<?php for($i = 0; $i < count($recommend); $i++) {; ?>
			<div></div>
			<?php }; ?>
		</div>
		<div class="banner-text">
			<?php foreach($recommend as $v) {; ?>
			<span class="animated slideInUp"> <?php echo $v['title']; ?> </span>
			<?php }; ?>
		</div>
	</div>
	<!-- main部分 -->
	<!-- main素馨花艺 -->
	<div class="main">
		<div class="main-top">
			<h4>核心配件<a href="list.php?id=1"></a></h4>
			<!--<p>这是一段说明</p>-->
		</div>
		<div class="main-bottom">
			<div class="swiper-container main-banner-w">
                <div class="swiper-wrapper main-banner">
					<?php foreach($recommend2 as $v) {; ?>
                    <div class="swiper-slide">
                        <img src=" <?php echo $v['thumb']; ?> " alt=" <?php echo $v['title']; ?> ">
                        <h5> <?php echo $v['title']; ?> </h5>
                        <p> <?php echo $v['des']; ?> </p>
                        <a href="info.php?id=<?php echo $v['id']; ?>&cid=<?php echo $v['cid']; ?>">
                            <i class="iconfont icon-shexiangji"></i>
                            <span>查看详情</span>
                        </a>
                    </div>
                    <?php }; ?>
                </div>
            </div>
            <div class="swiper-button-prev mainbtn">
                <i class="iconfont icon-zuo"></i>
            </div>
            <div class="swiper-button-next mainbtn">
                <i class="iconfont icon-you"></i>
            </div>
		</div>
	</div>
	<!-- main2素馨花语 -->
	<div class="main2">
		<div class="main-top">
			<h4>主板显卡<a href="list.php?id=2"></a></h4>
		</div>
		<div class="main2-bottom">
			<?php for($i = 0; $i < count($recommend3); $i++) {; ?>
			<div class="<?php echo $i%2==0?'left':'right'; ?>">
				<a href="info.php?id=<?php echo $recommend3[$i]['id']; ?>&cid=<?php echo $recommend3[$i]['cid']; ?>" class="m2b1" title=" <?php echo $recommend3[$i]['title']; ?> ">
					<img src="<?php echo $recommend3[$i]['thumb']; ?>" alt="<?php echo $recommend3[$i]['title']; ?>">
				</a>
				<div class="text">
					<a href="info.php?id=<?php echo $recommend3[$i]['id']; ?>&cid=<?php echo $recommend3[$i]['cid']; ?>"> <?php echo $recommend3[$i]['title']; ?> </a>
					<p> <?php echo $recommend3[$i]['des']; ?> </p>
					<p>
						<span> <?php echo substr($recommend3[$i]['times'],0,10); ?> </span>
						<span> <?php echo $recommend3[$i]['author']; ?> </span>
						<span><i class="iconfont icon-yanjing"></i></span>
						<span> <?php echo $recommend3[$i]['count']; ?> </span>
					</p>
				</div>
			</div>
			<?php }; ?>
		</div>
	</div>
<!-- 素馨花卉工作室 -->
<div class="main3">
	<div class="main-top">
		<h4>关于我爱DIY</h4>
	</div>
	<div class="text">
		<h5> <?php echo $header['des']?> </h5>
		<p>经营范围： <?php echo $header['ranger']?> </p>
		<p> <?php echo $header['ranger1']?> </p>
		<p> <?php echo $header['address']?> </p>
		<p> <?php echo $header['phone']?> </p>
	</div>
	<div class="m3bx">
		<img src="../static/img/m3bx.png" alt="我爱DIY">
	</div>
</div>

    <?php include_once 'footer.php'; ?>
