<?php include_once 'header.php'; ?>
<link rel="stylesheet" type="text/css" href="../static/css/info.css">
<script src="../static/js/info.js"></script>
	<!-- 站位块儿 -->
	<div class="zhanwei"></div>
	<!-- main底背景 -->
	<div class="main">
		<!-- main正文部分 -->
		<div class="main-bottom">
			<!-- main左边文本部分 -->
			<div class="main-left">
			    <div class="top">
			    	<h2> <?php echo $text['title']; ?> </h2>
			    	<p>
			    		<span> <?php echo $text['times']?> </span>
			    		<span> <?php echo $text['author']?> </span>
			    		<span><i class="iconfont icon-yanjing"></i></span>
			    		<span class="count"> <?php echo $text['count']?> </span>
			    	</p>
			    </div>
			    <div class="text">
					<?php echo $text['content']?>
				</div>
			    <div class="page-round">
			    	<a href="info.php?id=<?php echo !$textp['id'] ? $id : $textp['id']; ?>&cid=<?php echo $cid; ?>" class="<?php echo !$textp['id'] ? 'null' : 'previous'; ?>">
						上一篇：<?php echo !$textp['id'] ? '没有了' : $textp['title']; ?>
					</a>
			    	<a href="info.php?id=<?php echo !$textn['id'] ? $id : $textn['id']; ?>&cid=<?php echo $cid; ?>" class="<?php echo !$textn['id'] ? 'null' : 'previous'; ?>">
						下一篇：<?php echo !$textn['id'] ? '没有了' : $textn['title']; ?>
					</a>
			    </div>
			</div>
			<!-- main右边小块儿 -->
			<div class="main-right">
				<form class="search" action="search.php" method="get">
					<input type="text" name="search" placeholder="Search">
					<button><i class="iconfont icon-sousuo"></i></button>
				</form>
				<div class="recommend">
					<h3>为您推荐</h3>
					<?php foreach($recommend as $v) {; ?>
					<a href="info.php?id=<?php echo $v['id']; ?>&cid=<?php echo $v['cid']; ?>"> <?php echo $v['title']?> </a>
					<?php }; ?>
				</div>
			</div>
		</div>
	</div>
<?php include_once 'footer.php'; ?>